*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 1250px;
}
.top{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	background-color: black;
	color: white;
	align-items: center;
}
.top a{
	text-decoration: none;
}
img{
	margin: 20px;
}
.content{
	margin-right: auto;
	padding: 10px;
}
h2,p{
	margin: 0;
	padding: 0;
}
.call{
	margin-right: 50px;
	background-color: blue;
	color: white;
	padding: 10px 30px;
	position: fixed;
	left: 1150px;
}
nav{
	display: flex;
	justify-content: space-between;
	background-color: grey;
}
.navigation{
	margin: 0;
	padding:0;
	height: 60px;
}
a{
	text-decoration: none;
	color: black;
}
li{
	list-style-type: none;
}
.list{
	font-family: cursive;
	font-weight: 400;
	font-size: 25px;
}
.nav-item{
	padding: 15px;
	position: relative;
	width: 100%;
}
.list:hover{
	border-bottom: 2px solid black;
}
.nav-item-list{
	position: absolute;
	display: none;
}
.drop{
	padding: 10px;
	width: 100%;
}
.nav-item-list .drop:hover{
	background-color: white;
	transform: scale(1.19);
	transition: 0.1s;
}
.nav-item:hover .nav-item-list{
	display: block;
	margin-top: 10px;
	background-color: #ABABAB;
	padding: 10px;
}
footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 3px;
}
